@import url("styles/header.css");
@import url("styles/home.css");
@import url("styles/about.css");
@import url("styles/projects.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-primaria-60: #f2f2f2;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --cor-terciaria-30: #983ECA;
    --cor-secundaria-10: #46C4E0;
    --cor-fundo-project: #6f1b9c;
    --cor-fonte: #131313;
    --fonte-primaria:'Inter';
}

body {
    background-color: var(--cor-primaria-60);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}